/* ==========================================================================
   Buttons
   ========================================================================== */

// .c-btn {
//     cursor: pointer;

//     border: none;
//     .c-label {
//         width: 100%;

//         text-align: center;
//     }
// }

.c-button {
    cursor: pointer;

    border: none;
}

.c-button--destinations {
    width: $size-button-width;
    height: $size-button-height;
    padding-top: 0;

    transition: .3s all ease;

    color: $color-violet-light;
    border: 2px solid $color-violet-light;
    background: $color-white;
    box-shadow: 0 2px 10px rgba($color-black,.16), 0 3px 6px rgba($color-black,.1);
    &:hover {
        color: $color-white;
        background: $color-violet-light;
    }
}
