/* ==========================================================================
   Checkbox - section 2
   ========================================================================== */

.c-checkbox {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;

    width: 100%;
    max-width: 1286px;
    height: 197px;

    transform: translate(-50%, -50%);

    background-color: $color-violet;
    box-shadow: 21px 76px 106px -11px rgba($color-black,.75);

    align-items: center;
}

