/* City-list
========================================================================== */

.c-city-list {
    display: flex;

    width: 100%;
    padding: 0;

    flex-wrap: wrap;
    justify-content: space-between;
}

.c-city-list__item {
    display: flex;
    flex-direction: column;
}

.c-city-list__media,
.c-city-list__icon {
    width: $size-icon-city;
    height: $size-icon-city;

    cursor: pointer;
}

.c-city-list__media,
.c-city-list__desc {
    display: flex;

    justify-content: center;
}

.c-city-list__media + .c-city-list__desc {
    margin-top: 28px;
}

.c-city-list__item {
    padding-bottom: 178px;
}
