/* ==========================================================================
   Content
   ========================================================================== */

.c-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 auto;

    align-items: center;
}

.c-content__desc {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.c-content__desc__text {
    width: 100%;
    max-width: $size-content-width;

    text-align: center;
}

.c-content__icon {
    display: flex;

    width: 100%;

    justify-content: space-between;
}

.c-content__desc__title + .c-content__desc__text {
    padding-top: 93px;
}

.c-content__desc + .c-content__icon {
    padding-top: 95px;
}

/* ==========================================================================
   Flights - section 3
   ========================================================================== */

.c-content--flights .c-content__icon {
    max-width: $size-content-icon-width;
}

/* ==========================================================================
   Destination - section 4
   ========================================================================== */

.c-content__desc--destinations + .c-content__icon {
    padding-top: 205px;
}

.c-content__desc--destinations .c-content__desc__title + .c-content__desc__text {
    padding-top: 111px;
}

.c-content--destination .c-content__desc__text {
    max-width: 887.3px;

    letter-spacing: -.6px;
}

.c-content--destination .c-content__icon {
    max-width: $size-content-icon-width-large;
}


