/* ==========================================================================
   Flights - section 3
   ========================================================================== */

.c-flights {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 929px;
    margin: 0 auto;

    align-items: center;
}

.c-flights__desc {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.c-flights__desc__text {
    width: 100%;

    text-align: center;
}

.c-flights__icon {
    display: flex;

    width: 100%;

    justify-content: space-between;
}

.c-flights__desc__title + .c-flights__desc__text {
    padding-top: 82px;
}

.c-flights__desc + .c-flights__icon {
    padding-top: 95px;
}
