/* ==========================================================================
   Forms
   ========================================================================== */
.f-form {
    /* Reset default form styles + tag styles
       ========================================================================== */
    fieldset {
        margin: 0;
        padding: 0;

        border: 0;
    }
    input,
    textarea,
    select {
        border-radius: 0;
        box-shadow: none;
        &:focus {
            outline: none;
        }
    }
    textarea {
        min-height: $size-btn*5;
        max-height: $size-btn*10;
        padding: $size-gutter;

        resize: vertical;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }
    *::-ms-clear {
        display: none;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: currentColor;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: currentColor;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: currentColor;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: currentColor;
    }
    /* Form elements wrappers
       ========================================================================== */
    .f-input-wrapper,
    .f-select-wrapper,
    .f-textarea-wrapper {
        position: relative;

        cursor: pointer;
    }
    .f-input-wrapper,
    .f-textarea-wrapper {
        @include helper--align--stretch;

        display: flex;
        input,
        textarea {
            width: 100%;

            border: none;
            background: transparent;
        }
    }
    .f-input-wrapper {
        input {
            width: 100%;
            height: $size-btn;
        }
    }
    .f-textarea-wrapper {
        // textarea {
        //     padding-right: calc(#{$size-gutter} * 2 + 20px );
        // }
    }
    .f-select-wrapper {
        position: relative;

        overflow: hidden;
        select {
            position: relative;
            z-index: 3;

            width: 100%;
            height: $size-btn;

            border: none;
            border-radius: 0;
            background: transparent;

            -webkit-appearance: none;
            -moz-appearance: none;
        }
        select::-ms-expand {
            display: none;
        }
    }
}

/* ==========================================================================
   Form - Menu
========================================================================== */

.f-form--search {
    position: relative;

    display: flex;
}

.f-form--search .f-form__input {
    display: flex;

    width: 100%;
    max-width: 193px;
    height: $size-content-input-height;
    padding-left: 46px;

    border: 2px solid $color-grey-light;
}

.f-form--search .f-form__icon {
    position: absolute;
    top: 9px;
    left: 17px;
}

/* ==========================================================================
   Form - Checkbox
========================================================================== */

.f-form__choice {
    position: relative;

    display: flex;

    width: 100%;
    max-width: 1138px;
    margin: 0 148px 0 18px;

    align-items: center;
    justify-content: space-around;
}

.f-form__choice .f-form__input {
    width: $size-content-input-width;
    padding: 0 0 23px;

    border: none;
    border-bottom: 2px solid $color-white;
    background-color: $color-violet;
}

.f-form__enter .f-form__img {
    width: 21px;
    height: 36px;
    margin: 0 auto;

    cursor: pointer;
}

.f-form__date,
.f-form__people {
    display: flex;
}

.f-form__date .f-form__input,
.f-form__people .f-form__input {
    width: 100%;
    padding: 0;

    border: none;
}

.f-form__people {
    width: 80px;

    align-items: center;
    justify-content: flex-end;
}

.f-form__people:before {
    position: absolute;

    display: block;

    width: 73px;
    height: 23px;

    content: '';

    background: url('./../img/people.png') 0 50% no-repeat;
    background-size: 25px 21px;
}

.f-form__date:before {
    position: absolute;

    display: block;

    width: 44px;
    height: 23px;

    content: '';

    background: url('./../img/calendar.png') 0 50% no-repeat;
    background-size: 23px 23px;
}

.f-form__date .f-form__input {
    max-width: 160px;

    text-align: right;
}

.f-form__date .f-form__img {
    cursor: pointer;
}

.f-form__date .t-text-3 {
    padding-left: 25px;
}

.f-form__date .f-form__icon + .f-form__input {
    padding-left: 20px;
}

.f-form__counter {
    position: relative;
}

.f-form__counter .f-form__img {
    width: 12px;
    height: 12px;
    margin: 0 auto 0 60px;

    cursor: pointer;
}

.f-form__img + .f-form__counter {
    padding-left: 27px;
}

.f-form__counter .f-form__input {
    padding: 16px 0;

    transform: translateX(75%);
}

.f-form__enter .c-button {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 113px;
    height: 197px;
    margin: 0;
    padding: 0;

    background: $color-violet-light;
}

.f-form--filter {
    display: flex;

    width: 100%;
}


