/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
    position: relative;

    display: flex;
}

.c-header__logo {
    width: $size-logo;
    height: $size-logo;
    margin-left: 60px;
}

.c-header__menu {
    display: flex;

    align-items: center;
}

.c-header__search {
    display: flex;

    margin: 0 20px 0 auto;

    align-items: center;
}

.c-header__logo + .c-header__menu {
    padding-left: 38px;
}
