/* ==========================================================================
   Hero - section
   ========================================================================== */

.c-hero__title {
    position: absolute;
    top: 305px;
    left: 157px;
}
