/* ==========================================================================
   Icons-list
   ========================================================================== */

.c-icons-list {
    display: flex;

    width: 100%;
    margin: 0 29px;

    justify-content: space-between;
}

.c-icons-list .c-list__item {
    display: flex;

    width: $size-icon;
    height: $size-icon;
}

.c-icons-list .c-list__item:last-of-type {
    width: 140px;
    height: 86px;
}
