/* ==========================================================================
    List
   ========================================================================== */

.c-list,
.c-list__item {
    display: flex;
    padding: 0;
}
