/* ==========================================================================
   Menu
   ========================================================================== */

.c-list--menu {
    width: 100%;
    width: 585px;

    justify-content: space-between;
}
