/* ==========================================================================
   Icons
   ========================================================================== */

/* styles for fontello icons
.o-icon {
    font-family: $font-ico;
    line-height: 1;

    @extend %helper--inline-flex--center--center;
    &:before {
        margin: 0;

        line-height: 1;

        @extend %helper--inline-flex--center--center;
    }
}
*/

.o-icon {
    display: inline-flex;

    flex-shrink: 0;
    svg {
        fill: currentColor;
    }
}

.o-icon--search {
    width: 15px;
    height: 15px;

    color: #60206d;
}
