/* ==========================================================================
   COMMON
   ========================================================================== */
// [class*='t-default'] {
//     line-height: 1;
//     > a {
//         @include helper--transition;
//     }
// }

$font-default: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;

body {
    font-family: $font-default;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    color: $color-grey;
}

.t-upper {
    text-transform: uppercase;
}


/* ==========================================================================
   Font families
   ========================================================================== */
/*
 * font families used in project:
 *
 * $font-default: 'opensans'
 *
 */


//font weights used in project:

$weight-regular: 400;
$weight-bold: 700;

/* Font default (opensans)
   ========================================================================== */
/* ==========================================================================
   FONT SIZES
   ========================================================================== */
/*
 * font sizes used in project:
 *
 * t-size-s:       16px
 * t-size-m:       18px
 * t-size-l:       20px
 *
 */

/* size s: 16px
   ========================================================================== */
// .t-size-s {
//     font-size: $font-s;
// }

/* ==========================================================================
   Heading
   ========================================================================== */

.t-heading-1 {
    font-family: $font-playfair;
    font-size: 117px;
    font-weight: $weight-regular;

    letter-spacing: 7px;

    color: $color-white;
}

.t-heading-2 {
    font-family: $font-playfair;
    font-size: 73px;
    font-weight: $weight-regular;
    line-height: 1.2;

    letter-spacing: 4px;

    color: $color-black;
}

.t-heading-3 {
    font-size: 24px;
    font-weight: 800;
}

/* ==========================================================================
   Text
   ========================================================================== */

.t-text-1 {
    font-family: $font-roboto;
    font-size: 26px;
    font-weight: $weight-regular;
}

.t-text-2 {
    font-family: $font-roboto;
    font-size: 14px;
    font-weight: $weight-bold;

    color: $color-grey;
}

.t-text-3 {
    font-size: 22px;

    color: $color-white;
}

.t-text-4 {
    font-size: 25px;

    color: $color-white;
}

.t-text-5 {
    font-size: 24px;
    line-height: 35px;
}

.t-text-6 {
    font-size: 20px;
    font-weight: $weight-bold;

    letter-spacing: .7px;
}
