/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
========================================================================== */
$color-default: #464646;
$color-black: #000;
$color-white: #fff;
$color-grey: #787878;
$color-violet: #500e5e;
$color-violet-light: #69157a;
$color-grey-light: #ddd;
$color-1: $color-black;
$color-2: $color-white;
$color-3: #d4213d;		// red

$colors:
    $color-1,
    $color-2,
    $color-3;
$color-default-link: $color-3;

/* Indexes
========================================================================== */
$index-header: 100;

/* Sizes
========================================================================== */
$size-inner: 1290px;
$size-gutter: 20px;

$size-btn: 8px;

$size-scalable-padding_16-9: 56%;
$size-scalable-padding_4-3: 75%;

$size-logo: 54px;
$size-icon: 111px;
$size-icon-city: 320px;

$size-button-height: 76px;
$size-button-width: 269px;

$size-content-input-width: 216px;
$size-content-input-height: 40px;
$size-content-width: 930px;
$size-content-icon-width: 929px;
$size-content-icon-width-large: 1264px;

/* Fonts
========================================================================== */
$font-default: Arial, sans-serif;
$font-ico: 'fontello';

/* Breakpoints
========================================================================== */

// breakpoints names used for include-media breakpoint and for gridle
$breakpoint-desktop-small: 'desktop-small';
$breakpoint-tablet: 'tablet';
$breakpoint-phone: 'phone';

// breakpoints values used for include media and for grid gridle
$size-desktop-small: $size-inner + $size-gutter*4;
$size-tablet: 1024px;
$size-phone: 767px;

// breakpoints names array - used to generate custom attributes with include-media rwd
$breakpoints-array: $breakpoint-desktop-small,
    $breakpoint-tablet,
    $breakpoint-phone;

// breakpoints values array - used to generate custom attributes with include-media rwd and for include-media itself
$breakpoints: (
    $breakpoint-desktop-small: $size-desktop-small,
    $breakpoint-tablet: $size-tablet,
    $breakpoint-phone: $size-phone
);
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// breakpoint exaples
// body {
//     @include media('<=desktop-small') {
//         background: pink;
//     }
//     @include media('<=tablet') {
//         background: red;
//     }
//     @include media('<=phone') {
//         background: yellow;
//     }
//     @include media('>phone', '<=desktop-small') {
//         border: 5px solid grey;
//     }
//     @include media('>tablet', '<=1100px') {
//         color: red;
//     }
//     @include media('<=phone', 'landscape') {
//         background: orange;
//     }
// }

/* Padding
========================================================================== */

.u-gutter-lg-top {
    padding-top: 265px;
}

.u-gutter-lg-bottom {
    padding-bottom: 144px;
}

.u-gutter-md-top {
    padding-top: 181px;
}

.u-gutter-md-bottom {
    padding-bottom: 159px;
}

.u-gutter-sm-top {
    padding-top: 32px;
}

.u-gutter-sm-bottom {
    padding-bottom: 30px;
}

