/* ==========================================================================
   Sections
   ========================================================================== */
.l-section {
    //
}

.l-sec--s-1 {
    position: relative;

    height: 730px;

    background: url('./../img/bg-1.jpg') 0 18% no-repeat;
}

.l-sec--s-2 {
    position: relative;

    height: 0;
}

.l-sec--space-img {
    height: 183px;

    background: url('./../img/space.jpg') 46% 0 no-repeat;
}
